#profile {
  max-width: 850px;
  padding: 50px 30px;
  margin: auto;
  height: 100vh;
  border-radius: 13px;
  background-color: rgb(75, 75, 75);
}
#profile .profile-container {
  display: flex;
  justify-content: space-between;
  color: rgb(175, 175, 175);
}
#profile .sidebar {
  display: flex;
  flex-direction: column;
  padding: 30px 0px 0px 0px;
  width: 200px;
  /* border-right: 1px solid rgb(155, 155, 155); */
}
#profile .sidebar li {
  list-style: none;
  margin: 5px 5px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.1s;
  transition: transform 0.3s;
}
#profile .sidebar li:last-child {
  color: rgb(255, 29, 29);
  /* font-weight: bold; */
  display: flex;
  align-items: center;
}
#profile .sidebar li:last-child:hover {
  background-color: rgb(95, 65, 65);
  font-weight: bold;
}
#profile .sidebar li:last-child .logout-icon {
  margin-right: 7px;
}
#profile .sidebar li:not(:last-child):hover,
#profile .sidebar li:not(:last-child).active {
  color: rgb(235, 235, 235);
  background-color: rgb(136, 136, 136);
}
#profile .sidebar li:hover {
  transform: translateX(5px);
}
#profile .main-content {
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
  flex: 1;
}
#profile .main-content .head {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 0px;
  color: white;
  border-bottom: 1px solid gray;
}
#profile .head .profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  margin-bottom: 10px;
}
#profile .head .email {
  font-size: 0.9rem;
}
#profile .head .name {
  font-size: 1.45rem;
}
